<div class="container body-content ng-cloak video presentation yt">
    <div class="row">
        <div class="player-box loading" *ngIf="presentationDataService && presentationDataService.isLoading">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </div>
        <div class="video-strip row">
            <rx-you-tube-thumbs *ngIf="videosDataService && videosDataService.isLoaded" [disableDefaultSort]="true" [thumbsAnimationDuration]="500" [thumbsHeaderLevel]="2" [thumbsTitle]="dataForYouTubePresentation.presentation.Title" [youTubeItems]="dataForYouTubePresentation.videos"></rx-you-tube-thumbs>
        </div>
        <div class="description container" data-ng-bind-html="dataForYouTubePresentation.presentation.Description[\'#text\']" *ngIf="isPresentationLoaded"></div>
        <div class="credits container" *ngIf="presentationDataService && presentationDataService.isLoaded">
            <button class="btn btn-default" data-toggle="modal" data-target="#ImageCreditsModal" title="Presentation Credits" type="button"><span>&#160;</span></button>
        </div>
    </div>
    <div id="ImageCreditsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="ModalLabel">Presentation Credits</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="credits-flow" data-ng-bind-html="dataForYouTubePresentation.presentation.Credits[\'#text\']"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>