<mat-list>
    <h3 mat-subheader>studio links</h3>
    <mat-list-item>
        <mat-icon mat-list-icon svgIcon="rx:mdi_wrench_24px"></mat-icon>
        <a mat-line [routerLink]="['/dash/tools']">studio tools</a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon svgIcon="rx:mdi_azure_24px"></mat-icon>
        <a mat-line href="https://portal.azure.com/" target="_blank">azure portal</a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon svgIcon="rx:mdi_microsoft_24px"></mat-icon>
        <a mat-line href="https://dev.windows.com/" target="_blank">dev center</a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon svgIcon="rx:mdi_github_circle_24px"></mat-icon>
        <a mat-line href="https://github.com/BryanWilhite" target="_blank">github</a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon svgIcon="rx:mdi_visual_studio_24px"></mat-icon>
        <a mat-line href="https://songhay.visualstudio.com/" target="_blank">visual studio online</a>
    </mat-list-item>
</mat-list>