<mat-list>
    <h3 mat-subheader>studio links</h3>
    <mat-list-item>
        <mat-icon mat-list-icon svgIcon="rx:mdi_azure_24px"></mat-icon>
        <a mat-line href="https://portal.azure.com/">azure portal</a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon svgIcon="rx:mdi_microsoft_24px"></mat-icon>
        <a mat-line href="https://dev.windows.com/">dev center</a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon svgIcon="rx:mdi_github_circle_24px"></mat-icon>
        <a mat-line href="https://github.com/BryanWilhite">github</a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon svgIcon="rx:mdi_visual_studio_24px"></mat-icon>
        <a mat-line href="https://songhay.visualstudio.com/">visual studio online</a>
    </mat-list-item>
</mat-list>