@import '../../../assets/scss/normalize-component';
@import '../../../assets/scss/themes/akyinkyin/palette';

.dash {
    margin: 0 auto;
    max-width: 56rem;
    width: 90%;

    & > div {
        background-color: transparent;
        margin: .5rem;
        padding: 1rem;
        text-align: center;
    }
}
