<div class="dash flex-layout-container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="0.5%">
    <div fxFlex>
        dashboard works!
    </div>
    <div fxFlex>
        dashboard works!
    </div>
    <div fxFlex>
        dashboard works!
    </div>
    <div fxFlex>
        dashboard works!
    </div>
    <div fxFlex>
        dashboard works!
    </div>
    <div fxFlex>
        dashboard works!
    </div>
    <div fxFlex>
        dashboard works!
    </div>
    <div fxFlex>
        dashboard works!
    </div>
    <div fxFlex>
        dashboard works!
    </div>
    <div fxFlex>
        dashboard works!
    </div>
</div>