@import '../../../assets/scss/normalize-component';
@import '../../../assets/scss/themes/akyinkyin/palette';

.dash {
    &.flex-layout-container {
        margin: 0 auto;
        max-width: 80rem;

        & > div {
            background-color: transparent;
            margin: 0.5rem;
            min-width: 16rem;
        }
    }

    &.b-roll.yt {
        margin-bottom: 2em;
        & > .mat-spinner {
            margin: 0 auto;
        }
    }
}
