.rx.b-roll {
    &.overlay {
        background-color: rgba(0, 0, 0, 0.85);
        opacity: 0;
        position: fixed;
        width: 100%;
        height: 0;
        top: 100%;
        bottom: 100%;
        left: 0;
        z-index: 2;

        &.animate {
            animation-duration: 0.25s;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;

            &.fade-in {
                animation-name: b-roll-overlay-fade-in;
            }

            &.fade-out {
                animation-name: b-roll-overlay-fade-out;
            }
        }

        & > .set {
            height: 100%;
            overflow-y: scroll;
        }
    }
}

@keyframes b-roll-overlay-fade-in {
    from {
        opacity: 0;
        height: 0;
        top: 100%;
        bottom: 0;
    }

    to {
        opacity: 1;
        height: 100%;
        top: 0;
        bottom: 0;
    }
}

@keyframes b-roll-overlay-fade-out {
    from {
        opacity: 1;
        height: 100%;
        top: 0;
        bottom: 0;
    }

    to {
        opacity: 0;
        height: 0;
        top: 100%;
        bottom: 0;
    }
}
