<h1 class="app header social mat-app-background">Tweeted Links Builder</h1>
<div class="social twitter builder flex-layout-container" fxLayout="row" fxLayoutAlign="center">
    <div class="tweets incoming" fxFlex>
        <h2>last 50 statuses</h2>
        <mat-spinner *ngIf="socialDataService.isLoading" color="accent"></mat-spinner>
    </div>
    <div class="tweets outgoing" fxFlex>
        <h2>drop here</h2>
    </div>
    <div class="tweets document" fxFlex>
        <h2>markup</h2>
        <textarea></textarea>
    </div>
</div>