<ng-template #tweetTemplate let-i="i">
    <button (click)="remove(i.statusID)" class="remove" title="remove tweet">×</button>
    <a href="{{ i.user.url }}" target="_blank" title="{{ i.user.name }} [{{ i.user.screenNameResponse }}]">
        <img alt="{{ i.user.name }} [{{ i.user.screenNameResponse }}]" src="{{ i.profileImageUrl }}" />
    </a> <span [innerHTML]="i.safeHtml"></span> <small>{{ i.statusID }}</small>
</ng-template>

<h1 class="app header social mat-app-background">Tweeted Links Builder</h1>
<div class="social twitter builder flex-layout-container" fxLayout="row" fxLayoutAlign="center">
    <div class="tweets incoming" fxFlex>
        <h2>
            <span>last 50 statuses</span>
            <button (click)="getStatuses()" [disabled]="socialDataService.isLoading" mat-icon-button title="load statuses" type="button">
                <mat-icon color="accent" svgIcon="rx:mdi_arrow_down_drop_circle_24px"></mat-icon>
            </button>
        </h2>
        <mat-spinner *ngIf="socialDataService.isLoading" color="accent"></mat-spinner>
        <cdk-drop #tweetsIn *ngIf="socialDataService.isLoaded" [connectedTo]="[tweetsOut]" [data]="twitterItemsIn" [id]="'tweetsIn'" (dropped)="drop($event)">
            <div class="tweet" *ngFor="let i of twitterItemsIn" cdkDrag>
                <ng-container *ngTemplateOutlet="tweetTemplate;context:{ i: i }"></ng-container>
            </div>
        </cdk-drop>
    </div>
    <div class="tweets outgoing" fxFlex>
        <cdk-drop #tweetsOut [connectedTo]="[tweetsIn]" [data]="twitterItemsOut" [id]="'tweetsOut'" (dropped)="drop($event)">
            <h2>drop here</h2>
            <div class="tweet" *ngFor="let i of twitterItemsOut" cdkDrag>
                <ng-container *ngTemplateOutlet="tweetTemplate;context:{ i: i }"></ng-container>
            </div>
        </cdk-drop>
    </div>
    <div class="tweets document" fxFlex>
        <h2>markup</h2>
        <textarea [innerHTML]="documentHtml"></textarea>
    </div>
</div>