@import '../../../../assets/scss/normalize-component';
@import '../../../../assets/scss/themes/akyinkyin/palette';

a {
    cursor: pointer;

    /* Impact-based sans serif stack [https://css-tricks.com/snippets/css/font-stacks/] */
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal,
        'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black',
        sans-serif;
    font-size: 1.8rem;

    &:link,
    &:visited {
        color: $light-primary-text;
        text-decoration: none;
    }
    &:hover {
        color: $akyinkyin-light-tint;
    }
}
