<h1 class="app header affiliate mat-app-background"><app-studio-nav></app-studio-nav> Amazon product images</h1>
<form [formGroup]="amazonForm" class="affiliate amazon query flex-layout-container" fxLayout="column" fxLayoutAlign="center">
    <div class="asins" fxFlex>
        <mat-form-field>
            <textarea matInput formControlName="asins" placeholder="enter ASINs"></textarea>
            <mat-error *ngIf="asins.invalid && asins.touched">
                enter valid ASINs as a comma-separated list
            </mat-error>
        </mat-form-field>
    </div>
    <div fxFlex>
        <button (click)="getProductImages()" [disabled]="amazonForm.invalid" mat-raised-button>Get Product Images</button>
    </div>
    <mat-spinner *ngIf="amazonDataStore.isBusy" color="accent"></mat-spinner>
</form>
<div class="affiliate amazon products" *ngIf="amazonDataStore.isLoaded">
    <div class="count">{{ amazonProducts.length }} products found</div>
    <div class="product" *ngFor="let product of amazonProducts">
        <a href="{{product.detailPageUri}}" target="_blank">{{product.title}}</a>
        <textarea>{{product.title}} {{product.detailPageUri}}</textarea>
        <img class="small" src="{{ product.smallImage.location }}" width="{{ product.smallImage.width }}" height="{{ product.smallImage.height }}" />
        <img class="medium" src="{{ product.mediumImage.location }}" width="{{ product.mediumImage.width }}" height="{{ product.mediumImage.height }}" />
        <img class="large" src="{{ product.largeImage.location }}" width="{{ product.largeImage.width }}" height="{{ product.largeImage.height }}" />
    </div>
</div>