<h2>studio tools</h2>
<mat-list>
    <h3 mat-subheader>affiliates</h3>
    <mat-list-item>
        <mat-icon mat-list-icon svgIcon="rx:mdi_amazon_24px"></mat-icon>
        <a mat-line [routerLink]="['/affiliates/amazon/products/images']">Amazon product images</a>
    </mat-list-item>
    <h3 mat-subheader>social</h3>
    <mat-list-item>
        <mat-icon mat-list-icon svgIcon="rx:mdi_twitter_24px"></mat-icon>
        <a mat-line [routerLink]="['/social/twitter/builder']">tweeted links builder</a>
    </mat-list-item>
</mat-list>