<h2>
    <app-studio-nav></app-studio-nav> studio tools
</h2>
<mat-list>
    <mat-list-item>
        <mat-icon mat-list-icon svgIcon="rx:mdi_wrench_24px"></mat-icon>
        <a mat-line href="https://en.toolpage.org/tool/camelcase" target="_blank">CamelCase Converter</a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon svgIcon="rx:mdi_vector_curve_24px"></mat-icon>
        <a mat-line href="https://www.draw.io/" target="_blank">draw.io</a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon svgIcon="rx:mdi_wrench_24px"></mat-icon>
        <a mat-line href="http://jsbin.com/" target="_blank">JS Bin</a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon svgIcon="rx:mdi_json_24px"></mat-icon>
        <a mat-line href="https://codebeautify.org/jsonviewer" target="_blank">JSON Viewer</a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon svgIcon="rx:mdi_wrench_24px"></mat-icon>
        <a mat-line href="https://app.quicktype.io/" target="_blank">quicktype</a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon svgIcon="rx:mdi_regex_24px"></mat-icon>
        <a mat-line href="https://regexr.com/" target="_blank">RegExr</a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon svgIcon="rx:mdi_code_tags_24px"></mat-icon>
        <a mat-line href="https://stackblitz.com/@BryanWilhite" target="_blank">StackBlitz</a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon svgIcon="rx:mdi_library_24px"></mat-icon>
        <a mat-line href="http://michael.peopleofhonoronly.com/vim/" target="_blank">vim cheatsheet</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>affiliates</h3>
    <mat-list-item>
        <mat-icon mat-list-icon svgIcon="rx:mdi_amazon_24px"></mat-icon>
        <a mat-line [routerLink]="['/affiliates/amazon/products/images']">Amazon product images</a>
    </mat-list-item>
    <h3 mat-subheader>social</h3>
    <mat-list-item>
        <mat-icon mat-list-icon svgIcon="rx:mdi_azure_24px"></mat-icon>
        <a mat-line href="https://notebooks.azure.com/rasx" target="_blank">azure notebooks</a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon svgIcon="rx:mdi_pencil_24px"></mat-icon>
        <a mat-line href="http://songhayblog.azurewebsites.net" target="_blank">day path blog</a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon svgIcon="rx:mdi_twitter_24px"></mat-icon>
        <a mat-line [routerLink]="['/social/twitter/builder']">tweeted links builder</a>
    </mat-list-item>
</mat-list>