.logo {
    white-space: nowrap;

    & > span:nth-child(1),
    & > span:nth-child(3) {
        color: $akyinkyin-light-tint;
    }

    & > span:nth-child(2) {
        color: $akyinkyin-light-tone;
    }
}
