.logo {
    white-space: nowrap;

    &>span:nth-child(1),
    &>span:nth-child(3) {
        color: $akyinkyin-light-tint;
    }

    &>span:nth-child(2) {
        color: $akyinkyin-light-tone;
    }
}

@media (max-width:1247px) { /* when `display-text` runs out of space */
    .navbar-menu {
        & > .navbar-end {
            & >.icon-text {
                & > span > a > .display-text {
                    display: none;
                }
            }
        }
    }
}

@media (max-width:1024px) { /* when the navbar burger is visible */
    .navbar-menu {
        & > .navbar-end {
            & >.icon-text {
                display: block;

                & > span > a > .display-text {
                    display: inline;
                }
            }
        }
    }
}
