.mat-card {
    ::ng-deep {
        & a:link,
        a:visited {
            color: $light-primary-text;
            text-decoration: none;
        }
        & a:hover {
            color: $akyinkyin-light-tint;
        }
        & .mat-card-content {
            max-height: 16rem;
            overflow-x: auto;
            overflow-y: auto;

            & li {
                list-style-type: square;
                margin-bottom: 0.5em;
            }
        }
    }
}
