<div class="video thumbs header">
    <a [routerLink]="[ '/player/video/youtube/uploads/songhay/news' ]">
        <mat-icon color="accent" inline="true" svgIcon="rx:mdi_youtube_24px" aria-hidden="true"></mat-icon>
        <span class="title" [innerHTML]="getThumbsTitle()"></span>
    </a>
</div>
<div #thumbsContainer class="video thumbs thumbs-container">
    <div *ngIf="youTubeItems"><span *ngFor="let i of youTubeItems">
            <a href="{{ getYouTubeHref(i) }}" target="_blank" title="{{ i.snippet.title }}">
                <img src="{{ i.snippet.thumbnails.medium.url }}" width="{{ i.snippet.thumbnails.medium.width }}" height="{{ i.snippet.thumbnails.medium.height }}" />
            </a>
            <span class="published-at">{{ getPublishedAt(i.snippet) }}</span>
            <span class="caption" [innerHTML]="getThumbCaption(i)"></span>
            <span class="duration"><span>{{ getDuration(i.contentDetails) }}</span></span>
        </span></div>
    <button mat-icon-button type="button" class="left" (click)="slideThumbs('forward')">
        <mat-icon color="accent" inline="true" svgIcon="rx:mdi_step_backward_24px" aria-hidden="true"></mat-icon>
    </button>
    <button mat-icon-button type="button" class="right" (click)="slideThumbs('back')">
        <mat-icon color="accent" inline="true" svgIcon="rx:mdi_step_forward_24px" aria-hidden="true"></mat-icon>
    </button>
</div>