$caption-height: 64px;
$duration-height: 24px;
$duration-top: -120px;
$published-at-height: 24px;

$thumbnail-height: 180px;
$thumbnail-width: 320px;
$thumbnail-margin-right: 4px;

$thumbs-container-height: $thumbnail-height + $published-at-height +
    $caption-height;

$button-left-fudge: 96px;
$button-right-fudge: 8px;
$button-top-fudge: 48px;
$media-max-width-fudge: 320px;

$thumbs-responsive-widths: (
    /* (4 + 320 ) * 8 = 2592 */ 8-thumbs:
        ($thumbnail-margin-right + $thumbnail-width) * 8,
    /* (4 + 320 ) * 7 = 2268 */ 7-thumbs:
        ($thumbnail-margin-right + $thumbnail-width) * 7,
    /* (4 + 320 ) * 6 = 1944 */ 6-thumbs:
        ($thumbnail-margin-right + $thumbnail-width) * 6,
    /* (4 + 320 ) * 5 = 1620 */ 5-thumbs:
        ($thumbnail-margin-right + $thumbnail-width) * 5,
    /* (4 + 320 ) * 4 = 1296 */ 4-thumbs:
        ($thumbnail-margin-right + $thumbnail-width) * 4,
    /* (4 + 320 ) * 3 =  972 */ 3-thumbs:
        ($thumbnail-margin-right + $thumbnail-width) * 3,
    /* (4 + 320 ) * 2 =  648 */ 2-thumbs:
        ($thumbnail-margin-right + $thumbnail-width) * 2,
    media-max-width: (
        8-thumbs: (($thumbnail-margin-right + $thumbnail-width) * 8) +
            $media-max-width-fudge,
        7-thumbs: (($thumbnail-margin-right + $thumbnail-width) * 7) +
            $media-max-width-fudge,
        6-thumbs: (($thumbnail-margin-right + $thumbnail-width) * 6) +
            $media-max-width-fudge,
        5-thumbs: (($thumbnail-margin-right + $thumbnail-width) * 5) +
            $media-max-width-fudge,
        4-thumbs: (($thumbnail-margin-right + $thumbnail-width) * 4) +
            $media-max-width-fudge,
        3-thumbs: (($thumbnail-margin-right + $thumbnail-width) * 3) +
            $media-max-width-fudge,
        2-thumbs: (($thumbnail-margin-right + $thumbnail-width) * 2) +
            $media-max-width-fudge
    )
);

$thumbs-media-max-width: map-get($thumbs-responsive-widths, media-max-width);

@each $key, $value in $thumbs-media-max-width {
    @media (max-width: map-get($thumbs-media-max-width, $key)) {
        .video.thumbs-container {
            width: map-get($thumbs-responsive-widths, $key);

            & > button {
                &.left {
                    left: $button-right-fudge !important;
                }
                &.right {
                    left: map-get($thumbs-responsive-widths, $key) -
                        $button-left-fudge !important;
                }
            }
        }
    }
}

// upper bound:
$key: 8-thumbs;
@media (min-width: map-get($thumbs-media-max-width, $key)) {
    .video.thumbs-container {
        width: map-get($thumbs-responsive-widths, $key);

        & > button {
            &.left {
                left: $button-right-fudge !important;
            }
            &.right {
                left: map-get($thumbs-responsive-widths, $key) -
                    $button-left-fudge !important;
            }
        }
    }
}

.video.thumbs {
    & > button {
        background-color: transparent;
        border: none;
        display: inline-block;
        opacity: 0.7;
        font-size: 36px;
        position: relative;
        top: $button-top-fudge;
        z-index: 3;

        & > .mat-icon {
            width: 36px;
            height: 36px;
        }

        &:hover {
            background-color: #fff;
            color: #000;
            opacity: 0.9;
        }
    }

    &.header {
        font-size: 1.8rem;
        padding-left: 2rem;

        & > a {
            display: inline-block;
            line-height: 1.8rem;
            margin-bottom: 0.5rem;

            &:link,
            &:visited {
                color: #fff;
                text-decoration: none;
            }
            & > span {
                display: inline-block;
            }
        }

        & > span {
            display: inline-block;
            line-height: 1.8rem;
            margin-bottom: 0.5rem;

            & ::ng-deep span {
                & > a {
                    &:link,
                    &:visited {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    &.thumbs-container {
        background-color: #000;
        height: $thumbs-container-height;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        white-space: nowrap;

        & > div {
            position: absolute;
            z-index: 1;

            & > span {
                display: inline-block;
                margin: 0;
                margin-right: $thumbnail-margin-right;
                height: $thumbnail-height;
                width: $thumbnail-width;

                & .caption {
                    display: block;
                    font-size: 1.2em;
                    font-weight: bold;
                    height: $caption-height;
                    opacity: 1;
                    overflow: hidden;
                    padding-left: 0.5em;
                    white-space: normal;

                    & ::ng-deep a {
                        &:link,
                        &:visited {
                            color: #fff;
                            text-decoration: none;
                        }
                        &:hover {
                            color: #ff0;
                            background-color: transparent;
                        }
                    }
                }

                & > .published-at {
                    color: #0f0;
                    display: block;
                    font-size: 1em;
                    height: $published-at-height;
                    padding-left: 0.25em;
                }

                & > .duration {
                    display: block;
                    height: $duration-height;
                    position: relative;
                    text-align: right;
                    top: $duration-top;
                    width: $thumbnail-width;

                    & > span {
                        background-color: #000;
                        color: #fff;
                        display: inline-block;
                        font-size: 0.9em;
                        margin-right: 0.5em;
                        padding: 0.25em;
                    }
                }
            }
        }
    }
}
