.video.thumbs {
    & > button {
        background-color: #000;
        border: 1px solid #000;
        opacity: 0.7;
        position: relative;
        top: 64px;
        z-index: 3;

        &:hover {
            background-color: #fff;
            color: #000;
            opacity: 0.9;
        }

        &.left {
            left: 5px !important;
        }

        &.right {
            left: 1205px !important;
        }
    }

    &.thumbs-container {
        background-color: #000;
        height: 268px;
        /* thumbnail height (180px) + published-at height (24px) + caption height (64px) */
        max-width: 1620px;
        /* (4 + 320 ) * 5 = 1620 */
        min-width: 648px;
        /* (4 + 320 ) * 2 = 648 */
        position: relative;
        overflow: hidden;
        white-space: nowrap;

        & > div {
            position: absolute;
            z-index: 1;

            & > span {
                display: inline-block;
                margin: 0;
                margin-right: 4px;
                height: 180px;
                /* thumbnail height */
                width: 320px;

                & .caption {
                    display: block;
                    font-size: 1.2em;
                    font-weight: bold;
                    height: 64px;
                    opacity: 1;
                    overflow: hidden;
                    padding-left: 0.5em;
                    white-space: normal;

                    & a,
                    & a:visited {
                        color: #fff;
                    }

                    & a:hover {
                        color: #ff0;
                        background-color: transparent;
                    }
                }

                & > .published-at {
                    color: #0f0;
                    display: block;
                    font-size: 1em;
                    height: 24px;
                    padding-left: 0.25em;
                }

                & > .duration {
                    display: block;
                    height: 24px;
                    position: relative;
                    text-align: right;
                    top: -120px;
                    width: 320px;
                }

                & > .duration > span {
                    background-color: #000;
                    color: #fff;
                    display: inline-block;
                    font-size: 0.9em;
                    margin-right: 0.5em;
                    padding: 0.25em;
                }
            }
        }
    }
}

/*
    medium: 320 x 180
    (4 + 320 ) * 8 = 2592
    (4 + 320 ) * 7 = 2268
    (4 + 320 ) * 6 = 1944
    (4 + 320 ) * 5 = 1620
    (4 + 320 ) * 4 = 1296 => effective max width: 1296px or 4 thumbs
    (4 + 320 ) * 3 = 972
    (4 + 320 ) * 2 = 648
*/

@media (min-width: 1580px) {
    .video.thumbs-container {
        width: 1296px;
    }
}

@media (max-width: 1580px) {
    .video.thumbs-container {
        width: 1296px;
    }
}

@media (max-width: 1256px) {
    .video.thumbs-container {
        width: 972px;
    }

    .video.thumbs.header > .controls > button.right {
        left: 880px;
    }
}

@media (max-width: 932px) {
    .video.thumbs-container {
        width: 648px;
    }

    .video.thumbs.header > .controls > button.right {
        left: 555px;
    }
}
