@import './palette';
@import './index';

$mdc-typography-font-family: unquote(
    '"Segoe UI", Roboto, "Helvetica Neue", sans-serif'
);

:root {
    --mdc-theme-background: #{$greys-background};
    --mdc-theme-primary: #{$akyinkyin-dark-tone};
}
