<a mat-icon-button title="@BryanWilhite on Twitter" href="https://twitter.com/BryanWilhite">
    <mat-icon aria-label="@BryanWilhite on Twitter" svgIcon="rx:mdi_twitter_24px"></mat-icon>
</a>
<a mat-icon-button title="Bryan Wilhite on LinkedIn" href="http://www.linkedin.com/in/wilhite">
    <mat-icon aria-label="Bryan Wilhite on LinkedIn" svgIcon="rx:mdi_linkedin_24px"></mat-icon>
</a>
<a mat-icon-button title="rasx on StackOverflow" href="http://stackoverflow.com/users/22944/rasx">
    <mat-icon aria-label="rasx on StackOverflow" svgIcon="rx:mdi_stack_overflow_24px"></mat-icon>
</a>
<a mat-icon-button title="BryanWilhite on GitGub" href="https://github.com/BryanWilhite">
    <mat-icon aria-label="BryanWilhite on GitGub" svgIcon="rx:mdi_github_circle_24px"></mat-icon>
</a>
